﻿@{
    ViewData["Title"] = "Home Page";
}

<cache vary-by="@Context.Request.Path">
    <app>
        Loading...
    </app>
</cache>

@section scripts {

    <!-- IE required polyfills, in this exact order -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.1/es6-shim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.20/system-polyfills.js"></script>
    <script src="https://npmcdn.com/angular2/es6/dev/src/testing/shims_for_IE.js"></script>

    <!-- Angular polyfill required everywhere -->
    <script src="https://code.angularjs.org/2.0.0-beta.9/angular2-polyfills.js"></script>

    <script src="https://code.angularjs.org/tools/system.js"></script>
    <script src="https://code.angularjs.org/tools/typescript.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.9/Rx.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.9/angular2.dev.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.9/router.dev.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.9/http.dev.js"></script>

    <script>
        System.config({
            packages: {'app': {defaultExtension: 'js'}}
        });
        System.import('./app/bootstrap').catch(console.log.bind(console));
    </script>
}